.productContainer {
  background-image: url("https://cdn.jsdelivr.net/gh/pro-collection/hd/src/static/product_base.jpg");
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-width: 1720px;
  height: 2135px;
}

.navigate {

}
