.productContainer {
  background-color: #000000;
  height: 2135px;
}

@middleWidth: calc(100vw / 2);

.navigate {
  color: #7e7e7e;
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  position: relative;
  top: 81vh;
  left: calc(@middleWidth - 20vw);

  span {
    padding-top: 36px;

    &:hover {
      cursor: pointer;
      color: #2c75ea;
    }
  }
}
